* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark {
    background-color: rgb(0,128,128);
    color: rgb(255,255,255);

}
 
.hidden {
    display: none;
}

header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    letter-spacing: 1px;
    font-size: 75%;
    background-color: lightgray;
    color: black;
    
}




h1 {
    font-size: 45pt;
    background-color: gray;
    color: white;
}


#game-setup {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#game-setup > * {
    margin-bottom: 10px;
    padding-left : 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    

    
}

button {
    justify-self: center;

}

p#timer, p#lives {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
    
}

#game {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
/* Number containers containing letter and numbers and style to target the P elements */


#number-container > p {
    border: 1px solid #0a0a0a;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    

}

#number-container {
    display: flex;
    justify-content: center;
}
/* styling for the board display area*/
#board {
    padding-top: 10px;
    display: grid;
    width: min(100%, 540px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 0 auto;   
    
}
/* styling for 81 tiles on the board*/

.tile {
    border: 1px solid #0a0a0a;
    width: clamp(30px, 100%, 60px);
    height: max(30px, 100%);
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 2.5rem;
}
/* color change for the correct/ incorrect selection of letter & number*/
p.selected {
    background-color: aqua;

}

p.incorrect {
    color: red;
}

.rightBorder {
    border-right: 2px solid #0a0a0a; 
}

.bottomBorder {
    border-bottom: 2px solid #0a0a0a; 
}

